.btn {
  padding-left: 3rem;
  padding-right: 3rem;

}

#submitBtn {
  background-color: #1db954;
  outline: none;
  border-color: #1db954;
}

#editProfileContainer {
  margin-top: 50px;
  padding: 40px;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0 -2px 40px rgba(142, 156, 170, 0.2);
  border-radius: 5px;
  border: 1.6px solid #000;

}

#editProfile-main {
  background-image: linear-gradient(to right, rgba(32, 1, 34, 0.8) -23.76%, rgba(111, 0, 0, 0.6) 76.43%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: #000;

}

#editProfileHeader {
  padding: 40px;
}
